@model MIVProject.supplyHeader
@using Resources
@{
    ViewBag.Title = Local.Details;
}

<h2>@Local.Details</h2>

<div>
    <h4>@Local.SupplyHeader</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Local.PaymentDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentDate)
        </dd>

        <dt>
            @Local.DeliveryDate
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryDate)
        </dd>

        <dt>
            @Local.Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Local.Currency
        </dt>

        <dd>
            @Html.DisplayFor(model => model.currency1.name)
        </dd>

        <dt>
            @Local.DeliveryMethod
        </dt>

        <dd>
            @Html.DisplayFor(model => model.deliveryMethod1.name)
        </dd>

        <dt>
            @Local.PaymentMethod
        </dt>

        <dd>
            @Html.DisplayFor(model => model.paymentMethod1.name)
        </dd>

        <dt>
            @Local.Project
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project1.name)
        </dd>

        <dt>
            @Local.Supplier
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplier1.name)
        </dd>

        <dt>
            @Local.SupplyStatus
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplyStatus.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Local.Edit, "Edit", new { id = Model.supplyID }) |
    @Html.ActionLink(Local.Back, "Index")
</p>
