@model IEnumerable<MIVProject.supplyHeader>
@using Resources
@{
    ViewBag.Title = Local.Supply;
}

<h2>@Local.Supply</h2>


<table id="supplyHeader-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th>
                @Local.PaymentDate
            </th>
            <th>
                @Local.DeliveryDate
            </th>
            <th>
                @Local.Date
            </th>
            <th>
                @Local.Currency1
            </th>
            <th>
                @Local.DeliveryMethod
            </th>
            <th>
                @Local.PaymentMethod
            </th>
            <th>
                @Local.Project
            </th>

            @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
            {
                <th>
                    @Local.Supplier1
                </th>
            }
            <th>
                @Local.SupplyStatus
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.paymentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.currency1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryMethod1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paymentMethod1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project1.name)
            </td>
            @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
            {
                <td>
                    @Html.DisplayFor(modelItem => item.supplier1.name)
                </td>}
            <td>
                @Html.DisplayFor(modelItem => item.supplyStatus.name)
            </td>
            <td>
                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
                {
                    @Html.ActionLink(Local.Edit, "Edit", new { id = item.supplyID })  } 

                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent" || ((string)Session["type"]=="dobavljac" && item.supplyStatus.name=="U izradi"))
                {
                    @Html.ActionLink(Local.Delete, "Delete", new { id = item.supplyID })}

                @Html.ActionLink(Local.Details, "Details", new { id = item.supplyID })
            </td>
        </tr>
    }

</table>
