@model IEnumerable<MIVProject.supplyHeader>
@using Resources
@{
    ViewBag.Title = Local.Supply;
}

<h2>@Local.Supply</h2>


<table id="supplyHeader-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">

        <thead>
            <tr>
                <th data-sortable="true">
                    @Local.PaymentDate
                </th>
                <th data-sortable="true">
                    @Local.DeliveryDate
                </th>
                <th data-sortable="true">
                    @Local.Date
                </th>
                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent") { 
                <th data-sortable="true">
                    @Local.Currency1
                </th>
                <th data-sortable="true">
                    @Local.DeliveryMethod
                </th>
                <th data-sortable="true">
                    @Local.PaymentMethod
                </th>
                }
                <th data-sortable="true">
                    @Local.Project
                </th>

                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent") { 

                    <th data-sortable="true">
                        @Local.Supplier1
                    </th>
                }
                <th data-sortable="true">
                    @Local.SupplyStatus
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent") {
                <td>
                    @Html.DisplayFor(modelItem => item.currency1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deliveryMethod1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentMethod1.name)
                </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.project1.name)
                </td>
                @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.supplier1.name)
                    </td>}
                <td>
                    @Html.DisplayFor(modelItem => item.supplyStatus.name)
                </td>
                <td>
                    @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
                    {
                        <a href="@Url.Action("Edit", new { id = item.supplyID })">
                            <span class="glyphicon glyphicon-edit"
                                  aria-hidden="true"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="@Local.Edit"></span>
                        </a>
                    }
                    @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent" || ((string)Session["type"] == "dobavljac" && item.supplyStatus.name == "U izradi"))
                    {
                        <a href="@Url.Action("Delete", new { id = item.supplyID })">
                            <span class="glyphicon glyphicon-trash"
                                  aria-hidden="true"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="@Local.Delete"></span>
                        </a>
                    }

                    <a href="@Url.Action("Details", new { id = item.supplyID })">
                        <span class="glyphicon glyphicon-list-alt"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="@Local.Details"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
