@model MIVProject.mivUser
@using Resources
@{
    ViewBag.Title = Local.Details;
}

<h2>@Local.Details</h2>

<div>
    <h4>@Local.MivUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Local.username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

      

        <dt>
            @Local.FirstName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
           @Local.LastName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
           @Local.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Local.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userType.type)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink(Local.Edit, "Edit", new { id = Model.userID }) |
    @Html.ActionLink(Local.Back, "Index")
</p>
