@model MIVProject.mivUser

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>mivUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           @Local.username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>

        <dt>
            @Local.FirstName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
           @Local.LastName
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
           @Local.Email
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Local.Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userType.type)
        </dd> 

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
