@model IEnumerable<MIVProject.mivUser>
@using Resources
@{
    ViewBag.Title = Local.MivUser;
}

<h2>@Local.MivUser</h2>
<div id="toolbar">
    <a class="btn btn-default" href="mivUser/Create">
        <span class="glyphicon glyphicon-plus add-but" aria-hidden="true"></span>
        @Local.CreateNew
    </a>
</div>
<table id="mivUser-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-sortable="true">
                @Local.username
            </th>

            <th data-sortable="true">
                @Local.FirstName
            </th>
            <th data-sortable="true">
                @Local.LastName
            </th>
            <th data-sortable="true">
                @Local.Email
            </th>
            <th data-sortable="true">
                @Local.Type
            </th>

            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.userType.type)
            </td>

            <td>
                @if (item.type != null)
                {
                    <a href="@Url.Action("Edit", new { id = item.userID })">
                        <span class="glyphicon glyphicon-edit"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="@Local.Edit"></span>
                    </a>
                }
                else
                {
                    @Html.ActionLink(Local.Check, "CheckSupplier", new { id = item.userID })
                } 
                <a href="@Url.Action("Details", new { id = item.userID })">
                    <span class="glyphicon glyphicon-list-alt"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="left"
                          title="@Local.Details"></span>
                </a>

                <a href="@Url.Action("Delete", new { id = item.userID })">
                    <span class="glyphicon glyphicon-trash"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="left"
                          title="@Local.Delete"></span>
                </a>
            </td>
        </tr>
    }

</table>
