@model IEnumerable<MIVProject.mivUser>
@using Resources
@{
    ViewBag.Title = Local.MivUser;
}

<h2>@Local.MivUser</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Local.username
        </th>
        
        <th>
            @Local.FirstName
        </th>
        <th>
            @Local.LastName
        </th>
        <th>
            @Local.Email
        </th>
        <th>
            @Local.Type
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.userType.type)
        </td>
        
        <td>
            @if (item.type != null) { 
            @Html.ActionLink(Local.Edit, "Edit", new { id=item.userID })
            } 
            else{
            @Html.ActionLink(Local.Check, "CheckSupplier", new { id = item.userID })
            } |
            @Html.ActionLink(Local.Details, "Details", new { id=item.userID }) |
            @Html.ActionLink(Local.Delete, "Delete", new { id = item.userID })
        </td>
    </tr>
}

</table>
