@model IEnumerable<MIVProject.project>
@using Resources;
@using System.Web;
@{
    ViewBag.Title = Local.Projects;

}

<h2>@Local.Projects</h2>
<div class="alerts"></div>
<div id="toolbar">
    @if (Session["type"] == "referent" || Session["type"] == "administrator")
    {
        <a class="btn btn-default" href="Project/Create">
            <span class="glyphicon glyphicon-plus add-but" aria-hidden="true"></span>
            @Local.CreateNew
        </a>}
</div>
<table id="projects-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-field="name" data-sortable="true">
            </th>
            <th data-field="description">
                @Local.Description
            </th>
            <th data-field="paymentDate" data-sortable="true">
                @Local.PaymentDate
            </th>
            <th data-field="deliveryDate" data-sortable="true">
                @Local.DeliveryDate
            </th>
            <th data-field="deliveryMethod" data-sortable="true">
                @Local.DeliveryMethod
            </th>
            <th data-field="paymentMethod" data-sortable="true">
                @Local.PaymentMethod
            </th>
            <th data-field="currency" data-sortable="true">
                @Local.Currency1
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="object-row-@Html.DisplayFor(modelItem => item.id)">
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deliveryDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.deliveryMethod1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.paymentMethod1.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.currency1.name)
                </td>
                <td>
                    <a href="@Url.Action("Details", new { id = item.id })">
                        <span class="glyphicon glyphicon-list-alt glyp-xbig"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="@Local.Details"></span>
                    </a>
                    @if ((string)Session["type"] == "dobavljac")
                    {
                        <a href="/supplyHeader/Create?project=true&id=@item.id&name=@HttpUtility.UrlEncode(item.name)" class="">
                            <span class="glyphicon glyphicon-shopping-cart glyp-xbig"
                                  aria-hidden="true"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="Kreiraj ponudu"></span>
                        </a>
                    }
                    @if ((string)Session["type"] == "referent" || (string)Session["type"] == "administrator")
                    {
                        <a href="@Url.Action("Edit", new { id = item.id })">
                            <span class="glyphicon glyphicon-edit glyp-big"
                                  aria-hidden="true"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="@Local.Edit"></span>
                        </a>
                    }

                    @if ((string)Session["type"] == "referent" || (string)Session["type"] == "administrator")
                    {
                        <a href="#"
                           data-target="#modalDelete"
                           data-toggle="modal"
                           data-object-name="@Html.DisplayFor(modelItem => item.name)"
                           data-object-id="@Html.DisplayFor(modelItem => item.id)"
                           data-object-type="project">
                            <span class="glyphicon glyphicon-trash glyp-big"
                                  aria-hidden="true"
                                  data-toggle="tooltip"
                                  data-placement="left"
                                  title="@Local.Delete"></span>
                        </a>
                    }

                    @Html.AntiForgeryToken()
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel"></h4>
            </div>
            <div class="modal-body">
                @Local.ProjectDeleteQuery <span class="modal-object-name"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" id="modal-delete-confirm" class="btn btn-primary">Da</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Ne</button>
            </div>
        </div>
    </div>
</div>