@using Microsoft.AspNet.Identity
@using Resources

<div class="navbar navbar-inverse navbar-fixed-left">
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink(Local.Products, "Index", "Item")</li>
                <li>@Html.ActionLink(Local.Projects, "Index", "Project")</li>
                <li>@Html.ActionLink(Local.SupplyHeader, "Index", "SupplyHeader")</li>
                <li>@Html.ActionLink(Local.Supplier, "Index", "Supplier")</li>

                <li>@Html.ActionLink(Local.ItemCategory, "Index", "ItemCategory")</li>
                <li>@Html.ActionLink(Local.ItemSubCategory, "Index", "ItemSubCategory")</li>
                <li>@Html.ActionLink(Local.SupplierCategory, "Index", "SupplierCategory")</li>
                <li>@Html.ActionLink(Local.Currency, "Index", "Currency")</li>
                <li>@Html.ActionLink(Local.DeliveryMethod, "Index", "DeliveryMethod")</li>
                <li>@Html.ActionLink(Local.PaymentMethod, "Index", "PaymentMethod")</li>

                @if (Session["type"] == "administrator")
                {
                    <li>@Html.ActionLink(Local.MivUser, "Index", "mivUser")</li>
                }
            </ul>

        </div>
    </div>
</div>
