@using Microsoft.AspNet.Identity
@using Resources
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
       
        @if (Session["username"] != null)
{
    if (Session["type"] == "dobavljac")
    {
        <li>
            <a href='@(Url.Action("Details", "Supplier",new{id= Session["userID"]}))'><span class="glyphicon glyphicon-user glyp-style" aria-hidden="true"></span>@Session["username"]</a>
        </li>
    }
    else
    {
        <li><a href='@(Url.Action("Details", "mivUser", new { id = Session["userID"] }))'><span class="glyphicon glyphicon-user glyp-style" aria-hidden="true"></span>@Session["username"]</a></li>

    }
    <li class="logut-colo">
        <a href='@(Url.Action("Logout", "Account"))'><span class="glyphicon glyphicon-log-out glyp-style" aria-hidden="true"></span>@Local.Logout</a>
    </li>
}
else
{
    <li class="reg-colo">
        <a href='@(Url.Action("Register", "Account"))'><span class="glyphicon glyphicon-user glyp-style" aria-hidden="true"></span>@Local.Registration</a>
    </li>
    <li class="login-colo">
        <a href='@(Url.Action("Login", "Account"))'><span class="glyphicon glyphicon-log-in glyp-style" aria-hidden="true"></span>@Local.Login</a>
    </li>
}
        
    </ul>
}
