@model IEnumerable<MIVProject.logs>
@using Resources
@{
    ViewBag.Title = Local.Logs;
}

<h2>@Local.Logs</h2>


<table id="log-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-sortable="true">
                UserID
            </th>
            <th data-sortable="true">
                @Local.username
            </th>
            <th data-sortable="true">
                @Local.Msg
            </th>
            <th data-sortable="true">
                @Local.Date
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id = item.id })">
                    <span class="glyphicon glyphicon-list-alt"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="left"
                          title="@Local.Details"></span>
                </a>
            </td>
        </tr>
    }

</table>
