@model IEnumerable<MIVProject.logs>
@using Resources
@{
    ViewBag.Title = Local.Logs;
}

<h2>@Local.Logs</h2>


<table id="log-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-sortable="true">
                UserID
            </th>
            <th data-sortable="true">
                @Local.username
            </th>
            <th data-sortable="true">
                @Local.Msg
            </th>
            <th data-sortable="true">
                @Local.Date
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.userID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.msg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.id })
            </td>
        </tr>
    }

</table>
