@using Resources
@{
    ViewBag.Title = Local.Registration;
}

<h2>@Local.Registration</h2>


<div>
    <form action="Register" method="post">
        <label>@Local.username</label>
        <input name="username" type="text" required/>
        <br />

        <label>@Local.password</label>
        <input name="password" type="password" required />
        <br />
        
        <label>@Local.Name</label>
        <input name="name" type="text" required />
        <br />

        <label>@Local.Phone</label>
        <input name="phone" type="text" required />
        <br />

        <label>@Local.Email</label>
        <input name="email" type="text" required />
        <br />

        <label>OIB</label>
        <input name="oib" type="text" required />
        <br />
        <h5>@ViewBag.Msg</h5>
        <input id="submit" type="submit" value=@Local.Register />
    </form>
</div>



