@using Resources
@{
    ViewBag.Title = Local.Registered;
}

<h2>@Local.Registered</h2>
<div>
    <span>@Local.ThankYouForYourRegistration. @Local.FurtherWork @Html.ActionLink(@Local.log_in, "Login", "Account").</span>
</div>