@model MIVProject.itemSubCategory

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>itemSubCategory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Local.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Local.ItemCategory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemCategory.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.subCategoryID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
