@model IEnumerable<MIVProject.supplyItem>
@using Resources
@{
    ViewBag.Title = Local.SupplyItem;
}

<h2>@Local.SupplyItem</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table id="supplyItem-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-sortable="true">
                @Local.Quantity
            </th>
            <th data-sortable="true">
                @Local.Price
            </th>
            <th data-sortable="true">
                @Local.Quality
            </th>
            <th data-sortable="true">
                @Local.Comment
            </th>
            <th data-sortable="true">
                @Local.shipDate
            </th>
            <th data-sortable="true">
                @Local.Item
            </th>
            <th data-sortable="true">
                @Local.Supply
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplyHeader.supplyID)
            </td>
            <td>
                @Html.ActionLink(Local.Edit, "Edit", new { id = item.supplyItemID }) |
                @Html.ActionLink(Local.Details, "Details", new { id = item.supplyItemID }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.supplyItemID })
            </td>
        </tr>
    }

</table>
