@model MIVProject.currency
@using Resources
@{
    ViewBag.Title = Local.Delete;
}

<h2>@Local.Delete</h2>

<h3>@Local.SureYouWantToDelete</h3>
<div>
    <h4>@Local.Currency</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Local.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Local.Abbreviation
        </dt>

        <dd>
            @Html.DisplayFor(model => model.abbreviation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Local.Delete class="btn btn-default" /> |
            @Html.ActionLink(Local.Back, "Index")
        </div>
    }
</div>
