@model MIVProject.item
@using Resources
@{
    ViewBag.Title = "Delete";
}

<h2>@Local.Delete</h2>

<h3>@Local.SureYouWantToDelete</h3>
<div>
    <h4>@Local.Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unitOfMeasure)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unitOfMeasure)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.itemSubCategory.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemSubCategory.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink(Local.Back, "Index")
        </div>
    }
</div>
