@model MIVProject.item
@using Resources
@{
    ViewBag.Title = Local.Details;
}

<h2>@Local.Details</h2>

<div>
    <h4>@Local.Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Local.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Local.Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Local.Quantity
        </dt>

        <dd>
            @Model.quantity  @Model.unitOfMeasure
        </dd>

        <dt>
            @Local.SubCategory
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemSubCategory.name)
        </dd>

        <dt>
            @Local.Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.itemSubCategory.itemCategory.name)
        </dd>
        @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
        {
        <dt>
            @Local.Visible
        </dt>

        <dd>
            @try
            {
                if (Model.visible == true)
                {
                    <span>@Local.Visible</span>
                }
                else
                {
                    <span>@Local.Unvisible</span>
                }
            }
            catch (Exception)
            {
                <span>@Local.Unvisible</span>
            }
        </dd>
        }
    </dl>
</div>
<p>
    @if ((string)Session["type"] == "administrator" || (string)Session["type"] == "referent")
    {
    @Html.ActionLink(Local.Edit, "Edit", new { @id = Model.itemID, @class="btn btn-default" })
    }
</p>
