@using Resources
@{
    ViewBag.Title = Local.About;
}
<h2>@Local.About</h2>

<span>@Local.About1</span><br /><br />
<span>@Local.About2</span><br /><br />
<span>@Local.About3</span><br /><br />
<span>@Local.About4</span><br /><br />
<span>@Local.About5</span><br /><br />
<span>@Local.About6</span><br /><br />

<img src="http://213.147.106.56/metsonda/projects/miv/novi/slike/fotogalerije/o_nama/Postrojenje_1.jpg" />
<img src="http://213.147.106.56/metsonda/projects/miv/novi/slike/fotogalerije/o_nama/PIC00007.jpg" />
<img src="http://213.147.106.56/metsonda/projects/miv/novi/slike/fotogalerije/o_nama/Nova_pec_02.jpg" />
<img src="http://213.147.106.56/metsonda/projects/miv/novi/slike/fotogalerije/o_nama/Sacmara.jpg" />
<img src="http://213.147.106.56/metsonda/projects/miv/novi/slike/fotogalerije/o_nama/Robot_1.jpg" />