@model MIVProject.supplier
@using Resources
@{
    ViewBag.Title = Local.Details;
}

<h2>@Local.Details</h2>

<div>
    <h4>@Local.Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Local.Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            OIB
        </dt>     

        <dd>
            @Html.DisplayFor(model => model.OIB)
        </dd>
        <dt>
            @Local.username
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mivUser1.username)
        </dd>

        <dt>
            @Local.Phone
        </dt>

        <dd>
            @Html.DisplayFor(model => model.phone)
        </dd>
                    

        

        <dt>
            @Local.Category
        </dt>

        <dd>
            @Html.DisplayFor(model => model.supplierCategory.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Local.Edit, "Edit", new { id = Model.mivUser })
</p>
