@model IEnumerable<MIVProject.supplier>
@using Resources
@{
    ViewBag.Title = Local.Supplier;
}
<h2>@Local.Supplier</h2>

<table id="supplier-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th data-sortable="true">
                @Local.Name
            </th>
            <th data-sortable="true">
                @Local.username
            </th>
            <th data-sortable="true">
                @Local.Email
            </th>
            <th data-sortable="true">
                @Local.Phone
            </th>
            <th data-sortable="true">
                OIB
            </th>

            <th data-sortable="true">
                @Local.Category
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mivUser1.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mivUser1.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierCategory.name)
            </td>
            <td>
                @if (item.mivUser1.type == null)
                {
                    //@Html.ActionLink(Local.Check, "CheckSupplier", new { controller = "mivUser", id = item.mivUser });
                    //@Html.ActionLink(Local.Check, "CheckSupplier", new { id = item.mivUser });
                    <a href="@Url.Action("CheckSupplier", new { id = item.mivUser })">
                        <span class="glyphicon glyphicon-ok"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="@Local.Check"></span>
                    </a>
                }

                else
                {
                    <a href="@Url.Action("Edit", new { id = item.mivUser })">
                        <span class="glyphicon glyphicon-edit"
                              aria-hidden="true"
                              data-toggle="tooltip"
                              data-placement="left"
                              title="@Local.Edit"></span>
                    </a>
                }
                <a href="@Url.Action("Details", new { id = item.mivUser })">
                    <span class="glyphicon glyphicon-list-alt"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="left"
                          title="@Local.Details"></span>
                </a>
                
                <a href="@Url.Action("Delete", new { id = item.mivUser })">
                    <span class="glyphicon glyphicon-trash"
                          aria-hidden="true"
                          data-toggle="tooltip"
                          data-placement="left"
                          title="@Local.Delete"></span>
                </a>
            </td>
        </tr>
    }
</table>
