@model IEnumerable<MIVProject.supplier>
@using Resources
@{
    ViewBag.Title = Local.Supplier;
}
<h2>Index</h2>
<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table id="supplier-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th>
                @Local.Name
            </th>
            <th>
                @Local.username
            </th>
            <th>
                @Local.Email
            </th>
            <th>
                @Local.Phone
            </th>
            <th>
                OIB
            </th>

            <th>
                @Local.Category
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mivUser1.username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mivUser1.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OIB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.supplierCategory.name)
            </td>
            <td>
                @if (item.mivUser1.type == null)
                {
                    //@Html.ActionLink(Local.Check, "CheckSupplier", new { controller = "mivUser", id = item.mivUser });
                    @Html.ActionLink(Local.Check, "CheckSupplier", new { id = item.mivUser });
                }

                else
                {
                    @Html.ActionLink(Local.Edit, "Edit", new { id = item.mivUser })
                } |
                @Html.ActionLink(Local.Details, "Details", new { id = item.mivUser }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.mivUser })
            </td>
        </tr>
    }
</table>
