@model IEnumerable<MIVProject.projectItem>
@using Resources
@{
    ViewBag.Title = Local.ProjectItem;
}

<h2>@Local.ProjectItem</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Local.Quantity
        </th>
        <th>
            @Local.Price
        </th>
        <th>
            @Local.Quality
        </th>
        <th>
            @Local.Description
        </th>
        <th>
           @Local.Comment
        </th>
        <th>
            @Local.shipDate
        </th>
        <th>
            @Local.Item
        </th>
        <th>
            @Local.Project
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quality)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.shipDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.item1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.project1.name)
        </td>
        <td>
            @Html.ActionLink(Local.Edit, "Edit", new { id = item.projectPosition }) |
            @Html.ActionLink(Local.Details, "Details", new { id = item.projectPosition }) |
            @Html.ActionLink(Local.Delete, "Delete", new { id = item.projectPosition })
        </td>
    </tr>
}

</table>
