@model IEnumerable<MIVProject.projectItem>
@using Resources
@{
    ViewBag.Title = Local.ProjectItem;
}

<h2>@Local.ProjectItem</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table id="projectItem-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
    <tr>
        <th data-sortable="true">
            @Local.Quantity
        </th>
        <th data-sortable="true">
            @Local.Price
        </th>
        <th data-sortable="true">
            @Local.Quality
        </th>
        <th data-sortable="true">
            @Local.Description
        </th>
        <th data-sortable="true">
            @Local.Comment
        </th>
        <th data-sortable="true">
            @Local.shipDate
        </th>
        <th data-sortable="true">
            @Local.Item
        </th>
        <th data-sortable="true">
            @Local.Project
        </th>
        <th></th>
    </tr>
</thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.shipDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.item1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.project1.name)
            </td>
            <td>
                @Html.ActionLink(Local.Edit, "Edit", new { id = item.projectItemID }) |
                @Html.ActionLink(Local.Details, "Details", new { id = item.projectItemID }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.projectItemID })
            </td>
        </tr>
    }

</table>
