@model IEnumerable<MIVProject.paymentMethod>
@using Resources
@{
    ViewBag.Title = Local.PaymentMethod;
}

<h2>@Local.PaymentMethod</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table id="paymentMethod-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="false" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
    <tr>
        <th data-sortable="true">
            @Local.Name
        </th>
        <th></th>
    </tr>
</thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink(Local.Edit, "Edit", new { id = item.paymentID }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.paymentID })
            </td>
        </tr>
    }

</table>
