@model MIVProject.criteria
@using Resources
@{
    ViewBag.Title = @Local.Delete2;
}

<h2>@Local.Delete2</h2>

<h3>@Local.SureYouWantToDelete</h3>
<div>
    <h4>@Local.Criteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value=@Local.Delete class="btn btn-default" /> |
            @Html.ActionLink(@Local.Back, "Index")
        </div>
    }
</div>
