@model IEnumerable<MIVProject.criteria>
@using Resources
@{
    ViewBag.Title = Local.Criteria;
}

<h2>@Local.Criteria</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table id="criteria-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th>
                @Local.Name
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink(Local.Edit, "Edit", new { id = item.criteriaID }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.criteriaID })
            </td>
        </tr>
    }

</table>
