@model IEnumerable<MIVProject.deliveryMethod>
@using Resources
@{
    ViewBag.Title = Local.DeliveryMethod;
}

<h2>@Local.DeliveryMethod</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table id="deliveryMethod-table" class="table object-table" data-toggle="table" data-sort-name="id" data-sort-order="asc"
       data-search="true" data-toolbar="#toolbar" data-pagination="true"
       data-query-params="queryParams">
    <thead>
        <tr>
            <th>
                @Local.Name
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.ActionLink(Local.Edit, "Edit", new { id = item.deliveryID }) |
                @Html.ActionLink(Local.Delete, "Delete", new { id = item.deliveryID })
            </td>
        </tr>
    }

</table>
