@model IEnumerable<MIVProject.supplyStatus>
@using Resources
@{
    ViewBag.Title = Local.SupplyStatus;
}

<h2>@Local.SupplyStatus</h2>

<p>
    @Html.ActionLink(Local.CreateNew, "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Local.Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.ActionLink(Local.Edit, "Edit", new { id=item.statusID }) |            
            @Html.ActionLink(Local.Delete, "Delete", new { id=item.statusID })
        </td>
    </tr>
}

</table>
